body{
    background-color: rgb(248, 255, 182);
}

tr.sombreado:hover, tr.sombreado:active {
    background: slategray;
}

tr.sombreado2:hover, tr.sombreado:active {
    background: aquamarine;
}
.pointer {
    cursor: pointer;
}